Repository johnnyhuy/cloud-computing-assignment-two: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/application.yml, pipelines/infrastructure.yml

pipelines/application.yml:
  stages:
  - stage: Production
    jobs:
    - job: stayapp_application
      displayName: Deploy Stay application
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DockerCompose@0
        displayName: Build Docker images
        inputs:
          containerregistrytype: Container Registry
  ...

pipelines/infrastructure.yml:
  stages:
  - stage: Production
    jobs:
    - job: gcp_infrastructure
      displayName: Deploy Google Cloud Platform Infrastructure
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: TerraformTaskV1@0
        displayName: Terraform init
        inputs:
          provider: gcp
          command: init
  ...

Add IP address
  terraform/gcp/modules/sql/main.tf
Due: pipelines/infrastructure.yml

Renamed SQL
  terraform/gcp/modules/sql/main.tf
Due: pipelines/infrastructure.yml

Renamed instance this time
  terraform/gcp/modules/sql/main.tf
Due: pipelines/infrastructure.yml

Added networking deployment
  terraform/gcp/main.tf
Due: pipelines/infrastructure.yml

Added more paths
  pipelines/application.yml
  pipelines/infrastructure.yml
Due: pipelines/application.yml

major update: all data sources are now online. Applicaiton works using online data sources. Implmented Crime Graph and Fees Calculation
  app/data_grabber.py
  app/domain_api_constants.py
  app/fee_constants.py
  app/location.py
  app/main.py
  app/stats.py
  app/templates/index.html
  app/templates/listing.html
  app/templates/property.html
Due: pipelines/application.yml

Removed service account
  kubernetes/stayapp/service.yml
  terraform/gcp/main.tf
  terraform/gcp/modules/compute/main.tf
  terraform/gcp/modules/compute/variables.tf
  terraform/gcp/terraform.tfvars
  terraform/gcp/variables.tf
Due: pipelines/application.yml, pipelines/infrastructure.yml

Removed service account
  kubernetes/stayapp/service.yml
  terraform/gcp/main.tf
  terraform/gcp/modules/compute/main.tf
  terraform/gcp/modules/compute/variables.tf
  terraform/gcp/variables.tf
Due: pipelines/application.yml, pipelines/infrastructure.yml

Removed unused IP address
  terraform/gcp/main.tf
  terraform/gcp/modules/networking/variables.tf
Due: pipelines/infrastructure.yml

Removed service account
  pipelines/infrastructure.yml
Due: pipelines/application.yml

Added some doco in layout
  README.md
  images/cloud-computing-design-application.png
  images/cloud-computing-design-ci-cd.png
Due: pipelines/application.yml

Updated the doco to include ADO setup
  README.md
  images/2019-09-21-08-38-50.png
  images/2019-09-21-08-44-41.png
  images/2019-09-21-08-57-17.png
Due: pipelines/application.yml

Added Cloudflare vars
  pipelines/infrastructure.yml
Due: pipelines/application.yml

Fixed the missing image on the diagram
  images/cloud-computing-design-application.png
Due: pipelines/application.yml

Added todo
  README.md
Due: pipelines/application.yml

Removed API token
  pipelines/infrastructure.yml
  terraform/gcp/main.tf
  terraform/gcp/modules/networking/main.tf
Due: pipelines/application.yml, pipelines/infrastructure.yml

Removed TTL
  terraform/gcp/modules/networking/main.tf
Due: pipelines/infrastructure.yml

Temp removed Cloudflare provider
  terraform/gcp/main.tf
Due: pipelines/infrastructure.yml

Removed triggers because they're annoying
  pipelines/application.yml
  pipelines/infrastructure.yml
Due: pipelines/application.yml

Enabled CF again
  terraform/gcp/main.tf
Due: pipelines/infrastructure.yml

Diabled AWS temp
  pipelines/infrastructure.yml
Due: pipelines/application.yml

Path conditions:
  pipelines/application.yml: any file but: terraform
  pipelines/infrastructure.yml: any of: terraform
